<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>فهرست طرف های حساب حقیقی</title>
    {% load static %}

    <script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <link type="text/css" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link type="text/css" href="css/style.css" />

</head>
<body ng-model="accounting">

</body>
</html>