/*
@Variables HERE
*/

body {
  .wrapper {
    .baseGrid {
      height: 300px;
    }
    .smallGrid {
      height: 180px;
      width: 400px;
    }
    .ui-grid-cell {
      float: right;
    }
    header {

    }
    .mainRow {
      > * {
        float: left;
      }
      .mainSection {

      }
      .mainSidebar {

      }
    }
    footer {

    }
  }
}
