<!--
<div class="bs-docs-section" ng-controller="modalController">


    <button type="button" class="btn btn-lg btn-primary"
            data-animation="am-fade-and-scale" data-placement="center"
            bs-modal="modal">Click to toggle modal
        <br/>
        <small>(using an object)</small>
    </button>

    <button type="button" class="btn btn-lg btn-danger"
            data-animation="am-fade-and-slide-top"
            data-template-url="static/template/modal/test.tpl.html"
            bs-modal="modal">Custom Modal
        <br/>
        <small>(using data-template)</small>
    </button>

    <button type="button" class="btn btn-lg btn-danger"
            ng-click="showModal()">Modal
        <br/>
        <small>(using service)</small>
    </button>
</div>-->



<h1>صفحه اصلی</h1>